<!DOCTYPE html>
<html>
  <head>
    <title>Everquote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no" />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">window.penguinImg="<%= image_url('penguin-icon.png')%>"</script>
    <script type="text/javascript">window.splashBackground="<%= image_url('green-splash.jpg')%>"</script>
    <script type="text/javascript">window.splashImg="<%= image_url('splash-vector.svg')%>"</script>
    <script type="text/javascript">window.blackcross="<%= image_url('blackcross.png')%>"</script>
    <script type="text/javascript">window.whitecross="<%= image_url('whitecross.png')%>"</script>
    <script type="text/javascript">window.whitenotebook="<%= image_url('whitenotebook.png')%>"</script>
    <script type="text/javascript">window.greennotebook="<%= image_url('greennotebook.png')%>"</script>
    <script type="text/javascript">window.whitenote="<%= image_url('whitenote.png')%>"</script>
    <script type="text/javascript">window.greennote="<%= image_url('greennote.png')%>"</script>   
    <script type="text/javascript">window.whitetrash="<%= image_url('whitetrash.png')%>"</script>   
    <script type="text/javascript">window.greentrash="<%= image_url('greentrash.png')%>"</script>   
    <script type="text/javascript">window.whitecreatenotebook="<%= image_url('createnotebook.png')%>"</script>   
    <script type="text/javascript">window.greencreatenotebook="<%= image_url('createnotebook.png')%>"</script>   
    <script type="text/javascript">window.greenlogout="<%= image_url('greenlogout.png')%>"</script>   
    <script type="text/javascript">window.whitelogout="<%= image_url('whitelogout.png')%>"</script>   
    <script type="text/javascript">window.greenarrowbackground="<%= image_url('green arrow background.png')%>"</script>   
    <script src="https://kit.fontawesome.com/fff9f519c7.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
