<!DOCTYPE html>
<html>
  <head>
    <title>Everquote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">window.penguinImg="<%= image_url('penguin-icon.png')%>"</script>
    <script type="text/javascript">window.splashImg="<%= image_url('splash-vector.svg')%>"</script>
    # <script type="text/javascript">window.splashBackground="<%= image_url('green-splash.jpg')%>"</script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
